<section>
  <div class="section-wrapper">
    <div class="section__item section-text">
        <h3>We are almost <br> everywhere</h3>
        <p>
          Now the races of these two have been for some ages utterly extistene<br>
          <br> 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint sequi debitis,
          facilis ut, maxime, facere saepe dolore tenetur atque unde reprehenderit. Ratione est maxime sequi! Mollitia nam aliquid perferendis qui?
        </p>
        <h5>Partners</h5>
        <div class="section__item-ico">
            <img src="../../assets/images/dropbox.png">
            <img src="../../assets/images/evernote.png">
        </div>
    </div>
    <div class="section__item section-map">
      <img src="../../assets/images/map.png" alt="">
    </div>
  </div>
</section>