<section class="about">
  <div class="container grid-container">
      <div class="grid-item wow zoomInLeft">
          <div class="about-ico" [style.color]="icoColor">
            <i class="fas fa-lock fa-3x"></i>
          </div>
          <h4 class="about-heading">Real-time all the time</h4>
          <p class="about-paragraph">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
          </p>
      </div>
      <div class="grid-item wow zoomInRight">
          <div class="about-ico" [style.color]="icoColor">
            <i class="far fa-clock fa-3x"></i>
          </div>
          <h4 class="about-heading">Adopt without any obstacles</h4>
          <p class="about-paragraph">This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
              This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
        </p>
      </div>
  </div>
</section>
