<section class="section-two">
  <div class="grid">
    <div class="grid-item grid-item__img">
      <img [src]="imgUrl" class="wow fadeInLeft">
    </div>
    <div class="grid-item grid-item__text">
      <h3>Your day <br> is protected</h3>
      <p>
        There have not been any since we have lived here_ said my mother <br>
        <br> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint sequi debitis,
        facilis ut, maxime, facere saepe dolore tenetur atque unde reprehenderit. Ratione est maxime sequi! Mollitia nam aliquid perferendis qui?
      </p>
      <div class="grid-item grid-item__buttons">
          <a href="#" class="grid-item__button try-to-hack hvr-fade">Try to hack us<i class="fas fa-arrow-right"></i></a>
          <a href="#" class="grid-item__button learn-more hvr-fade">Learn more</a>
      </div>
    </div>
  </div>
</section>
